body {
    padding: 30px;
    background-color: #8B2323;
    font-family: Arial, Helvetica, sans-serif;
    color: snow;
}

header {
    padding: 10px;
    font-family: Lucida Console, Arial, Helvetica;
    font-size: 40px;
}

nav {
    border-top: solid 3px #FF4040;
    border-bottom: solid 3px #FF4040;
    text-align: center;
    text-decoration: none;
}

ul {
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 10px;
}

li {
    display: inline;
    text-align: center;
    font-family: Calibri, Arial, Helvetica;
    color: white;
    border: #FF4040 2px solid;
    border-radius: 4px;
    padding: 10px;
}

li a:hover {
    background-color: rgb(248, 194, 188);
    transition-duration: 0.2s;
    color: black;
    border-radius: 2px;
    padding: 10px;
    margin: -10px;
}

.link {
    text-decoration: none;
    color: snow;
}

section {
    display: flex;
    border-bottom: solid 3px #FF4040;
}

.conteudo {
    flex: 1;
    margin: 20px;
    border-right: solid 3px #FF4040;
    padding-bottom: 80px;
}

#aluno3 {
    flex: 1;
    margin: 20px;
    padding-bottom: 80px;
}

h1 {
    margin-bottom: 2px;
}

p {
    margin-top: 2px;
}

footer {
    text-align: center;
    margin-top: 20px;
}
